    /*
    Flaticon icon font: Flaticon
    Creation date: 31/01/2018 07:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-people:before { content: "\f100"; }
.flaticon-tool:before { content: "\f101"; }
.flaticon-buildings:before { content: "\f102"; }
.flaticon-tag:before { content: "\f103"; }
.flaticon-money:before { content: "\f104"; }
.flaticon-html-5-logo:before { content: "\f105"; }
.flaticon-dot-arrow:before { content: "\f106"; }
.flaticon-dumbbell-for-training:before { content: "\f107"; }
    
    $font-Flaticon-people: "\f100";
    $font-Flaticon-tool: "\f101";
    $font-Flaticon-buildings: "\f102";
    $font-Flaticon-tag: "\f103";
    $font-Flaticon-money: "\f104";
    $font-Flaticon-html-5-logo: "\f105";
    $font-Flaticon-dot-arrow: "\f106";
    $font-Flaticon-dumbbell-for-training: "\f107";